div{
    height: 600px;
/*    background-color: burlywood;*/
    margin: 0;
    align-items: center;
    padding: 0;
}
.white{
/*     background-color: antiquewhite; */
}
h1{
    text-align: center;
    margin: 0;
    padding: 0;
    align-content: center;
    background-color: cadetblue;
    align-self: center;
    font-size: 40px;
    opacity: 0.7;
    font-family: 'Abril Fatface', cursive;
    
    
}
.center{
    margin: 0 auto;
    padding-top: 250px;
    width: 500px;
}

p{
    margin-top: 2em;
    text-align: center;
    margin: 0;
    padding: 0;
    color: antiquewhite;
    background-color: antiquewhite;
    opacity: 0.75;
    border-radius: 20px;
    color: black;
    width: 70%;
    margin-left: 250px;
    font-size: 25px;
    font-style: italic;
    margin-top: 200px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    opacity: 0.9;
    color: white;
}
li{
    float: left;   
}
li a{
   
    color: white;
    padding: 20px 25px;
    text-align: center;
    display: block;
    text-decoration: none;
    
    font-size: 20px;     
}
a:hover{
    background-color: lightgray;
    color: brown;
}
.righty{
    float: right;
    color: antiquewhite;
}
